@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto';
    text-transform: capitalize;

}
:root{
    --main-color:#6e121f;
    --border-color:#6666662a;
    --backgrauond-white:white;
    --border-radius:8px;
}
body{
    background-color: #f9f9f9f9;

}
a{
    color: black;
}
.contener{
    width: 80%;
    margin: auto;
}

/* start header  */
/* start top nav  */
.top_nav{
    background-color: var(--backgrauond-white);

    border-bottom: 2px solid  var(--border-color);

}
.top_nav .contener{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.top_nav img{
    border-radius: 50%;
}
.top_nav .serch {
    position: relative;
    width: 40%;
}
.top_nav .serch button{
    position: absolute;
    right: 0;
    top: 0;
    height: 35px;
    width: 40px;
    text-align: center;
    line-height: 34px;
    border-radius: 0px 50px 50px 0px;
    font-size: 19px;
    border: 1px solid transparent;
    background-color: var(--main-color);
    color:white;
    cursor: pointer;
}

.top_nav .serch button:hover{
    color: var(--main-color);
    background-color: white;
    border: 1px solid var(--main-color);
    border-left: transparent;
}

.top_nav .serch  input{
    border: 1px solid var(--main-color) ;
    outline: none;
    padding: 5px 10px;
    padding-right:40px ;
    width: 100%;
    height: 35px;
    border-radius: 50px ;
}

.top_nav .cart_hart{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--main-color);
}

.hart,
.cart{
    width: 35px;
    height: 35px ;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    background-color: var(--main-color);
    color: white;
}

.hart:hover,
.cart:hover{
   color: var(--main-color);
   background-color: white;
}

/* end top nav  */


/* start nav bar  */
header nav{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.205);
    background-color: var(--backgrauond-white);
}
header nav .contener .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .contener .links ul{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
header nav .contener .links ul li{
    position: relative;
    padding: 20px 0;
}

header nav .contener .links ul li::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transition:0.3s ease ;
}

header nav .contener .links ul li:hover::after{
    width: 100%;
}

header nav .contener .links ul li.active::after{
    width: 100%;
    font-weight: 900;
}

header nav .contener .links ul li a{
    color: black;
    font-weight: 400;
    font-size: 18px;
    text-transform:capitalize ;
}

header nav .contener .links .log_in{
    padding: 10px 20px;
    background-color:var(--main-color);
    color:white;
    display: flex;
    gap: 7px;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

header nav .contener .links .log_in:hover{
    background-color:white;
    color: var(--main-color);
}

/* end nav bar  */


/* start cart */
.slid_cart{
    width: 450px;
    height: 100vh;
    position: fixed;
    padding:25px 30px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    right: -500px;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--backgrauond-white);
    box-shadow: -10px 0px 10px var(--border-color);
    transition: 0.5s ease;
}

.slid_cart .top_cart{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    padding-bottom:20px ;
    box-shadow: 0px 5px 0px  var(--border-color);
    transition: 1s ease;
}
.slid_cart .top_cart h3{
    font-size: 20px;
    text-transform:capitalize ;
}
.slid_cart .top_cart h3 span{
    font-size: 13px;
    font-weight: 500;
    color: rgba(56, 56, 56, 0.506);
}
.slid_cart .top_cart span{
    font-size: 27px;
    cursor: pointer;
    color: var(--main-color);
}

.items_in_cart{
    overflow: scroll;
    height: 100%;
    border-bottom:1px solid var(--border-color) ;
}
.items_in_cart .product_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    gap: 18px;
    border-bottom:1px solid var(--border-color) ;
}

.items_in_cart .product_cart h3{
    font-size: 18px;
    font-weight: 600;

}
.items_in_cart .product_cart p{
    text-transform: capitalize;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}
.items_in_cart .product_cart p span{
    font-weight: normal;
}
.items_in_cart .product_cart button{
    background-color: white;
    font-size: 23px;
    border: none;
    margin-right: 15px;
    cursor: pointer; 
   transition: 0.3s ease;

}
.items_in_cart .product_cart button:hover{
    color: red;
    transform:scale(1.1) ;
}
.items_in_cart .product_cart img{
    border-radius: 2px;
    width: 30%;
}

.slid_cart .footer_cart{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--main-color);
    margin-top: 0px;
    padding-top: 15px;
    box-shadow: 0px -5px 1px var(--border-color);
}

.slid_cart .footer_cart .Cart_subtotal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    width: 100%;
}
.slid_cart .footer_cart .Cart_subtotal p{
    color: var(--main-color);
    font-size: 20px;
}
.slid_cart .footer_cart .btm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    margin-top: 10px;
}
.slid_cart .footer_cart .btm a{
    width: 100%;
    padding: 15px 0;
    background-color: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.6px;
}
.slid_cart .footer_cart .btm a:hover{
    background-color: #eee;
    color: var(--main-color);
}
.slid_cart .footer_cart .btm .trans_bg{
    background-color: #eee;
    color: var(--main-color);
    text-transform: capitalize;
}

.actev{
    right: 0px;
}
.slid_cart .bg-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background: #0000003d;
    width: calc(100vw - 450px);
    transition: 0.8s ease;
}

.slid_cart.actev .bg-overlay{
    left: 0;
}
/* end cart */

/* start benner ads  */
.swiper{
    box-shadow: 0px 0px 20px var(--border-color);
    border-radius: var(--border-radius);
    margin-top: 35px;
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px !important;
}

.swiper  .swiper-slide{
    width: 100% !important;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 5px 0px 20px var(--border-color);
}
.swiper .swiper-slide img{
    width: 50% ;
}
.swiper .swiper-slide .text{
    width: 50%;
   padding-left: 50px;
   padding-top: 20px;
}
.swiper .swiper-slide .text h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--main-color);
}
.swiper .swiper-slide .text p{
    line-height: 1.8;
    font-size: 15px;
    padding-right: 150px;
    margin-bottom: 35px;
    color: rgb(71, 69, 69);
}
.swiper  .swiper-slide .text button{
    padding: 9px 25px;
    background-color: var(--main-color);
    color: white;
    border-radius: 8PX;
    font-size: 18px;
    box-shadow: 5px 0px 20px var(--border-color);
    cursor: pointer;
}

/* end banner ads  */



/* start seirvis  */
.servies{
    margin: 40px 0px;
}
.servies .contener{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 0px var(--border-color);
}
.servies .contener .sarv{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 50px;
}
.servies .contener .sarv:not(:first-child){
    border-left: 1px solid var(--main-color);
}
.servies .contener .sarv span{
    color: var(--main-color);
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 30px;
}
.servies .contener .sarv p{
    text-transform:capitalize;
    line-height: 1.6;
    font-weight: 600;
    color: var(--main-color);
}
/* end servise */


/* start tegtory */
.tegatore .contener{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.tegatore .items{
    width: 80px;
    height: 80px;
    text-align: center;
    cursor: pointer;
}
.tegatore .items:hover{
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
.tegatore .items img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 5px 0px 20px var(--border-color);
}
.tegatore .items h4{
    margin-top: 5px;
    font-weight: 700;
    color: var(--main-color);
}
/* end tegtory */



/*products*/
.product_slider .contener{
    margin: 50px auto;
    padding: 0px 20px;
    background-color: var(--backgrauond-white);
    border-radius: 5px;
    box-shadow: 0px 0px 20px var(--border-color);
    overflow: hidden;
    position: relative;
}

.top_slider h2{
    position: relative;
    padding: 20px 0;
    margin-bottom: 24px;
    font-size: 30px;
    text-transform: capitalize;
}
.top_slider h2 span{
    font-weight: normal;
    font-size: 25px;
}
.top_slider h2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
}
.product_slider .product {
    width: 20%;
    border: 2px solid var(--border-color);
    padding: 15px 15px;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    position: relative;
}
.sale{
    position: absolute;
    padding: 3px 10px;
    background-color: rgba(255, 0, 0, 0.779);
    font-weight: 400;
    color: white;
    border-radius: 10px;
    right: 15px;
    z-index: 5;

}
.product_slider .product .img_product{
    overflow: hidden;
    border-radius: var(--border-radius);

}
.product_slider .product img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}
.product_slider .product:hover img{
    transform: scale(1.2);
}

.product h3 {
    margin: 10px 0;
    font-weight: 400;
    text-transform: capitalize;
}

.product:hover h3 a{
    color: var(--main-color);
    text-decoration: underline;
}

.stars{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    gap: 3px;

}
.stars i{
    color: rgba(255, 255, 0, 0.692);
}

.footer_cart{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;

}

.footer_cart button{
    width: 67%;
    padding: 5px 50px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid var(--main-color);
    font-weight: 500;
    letter-spacing: 1.6px;
}

.footer_cart button:hover{
    background-color: white;
    color: var(--main-color);
}
.pris{
    display: flex;
    justify-content: center;
    gap: 7px;
}
.pris p{
    color: black;
    font-weight: 500;
}
.pris p span{
    color: rgb(50, 49, 49);
    font-weight: 400;
}

.sale_product .pris p:last-child{
    color:rgba(40, 40, 40, 0.492);
    font-weight: 400;
    text-decoration: line-through;
}
.sale_product .pris p:last-child span{
    color: rgba(40, 40, 40, 0.492);

    font-weight: 400;
}

.mySwiper .btn_Swip{
    position: absolute;
    top: 35px;
    right: 20px;
    background: var(--main-color);
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 50%;
    z-index: 1;
}

.mySwiper .btn_Swip::after{
    font-size: 20px;
}

.mySwiper .btn_Swip.swiper-button-prev{
    left: calc(100% - 110px);
} 

/* start prodct whit img  */
.slide_whit_img{
    display: flex;
    justify-content: space-between;

    gap: 20px;
}
.slide_whit_img .tegatore_img{
    width: 25%;
    border-radius: var(--border-radius);
    margin-top:4px;

}
.slide_whit_img .tegatore_img img{
    width: 100%;
    height: 380px;
    border-radius: var(--border-radius);
}
.slide_whit_img .product_swaper{
    width: 75%;
    padding:3px 3px 20px 3px;

    overflow: hidden;
}
.product_slider .contener .top_slider{
    margin-bottom: 0px;
}










/* end prodcut slider  */
/* banner start  */
.banner{
    margin: 50px 0;

}
.banner .contener{
    display: flex;
    justify-content: space-between;
}
.banner .contener .banner_img{
    width: 48%;

    position: relative;

}
.banner .contener .banner_img img{
    width: 100%;
    height: 200px;
    border-radius: var(--border-radius);
}

.banner .glass_banner{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.banner .glass_banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg , transparent 50% , 
    rgba(255,255,255,0.1) 60% , rgba(255,255,255,0.5) 70% , transparent 71%);
    background-size: 200% 100%;
    background-position: 200% 0;
    z-index: 90;
    transition: 0.8s;
}
.banner .banner_img:hover .glass_banner::after{
    background-position: -20% 0;
}

.banner .banner_img a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.banner_big.banner .contener .banner_img{
    width: 49%;
    position: relative;
}
/* end banner  */